@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    max-width: 1280px;
    margin: auto;
    min-height: 90vh;
    padding: 10px;
}

body {
    background-color: white;
    color: black;
}

.dark body {
    background-color: rgb(31 41 55);
    color: white;
}